[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[project]
name = "nukekit"
version = "0.0.1"
description = "Nuke gizmo/script publishing system"
authors = [{ name="Etienne Godin", email="etiennegodin@duck.com" }]

dependencies = [
 "semver",
 "python-dotenv",
 "shortuuid",
 "pyaml"
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "black",
    "ruff",
]
ui = [
    "PyQt5>=5.15.0",  # Or PySide6
]


[project.scripts]   # <-- entry point CLI
nukekit = "nukekit.cli:main"

